<!-- user_management/templates/user_management/dashboard.html -->
{% extends "main/base.html" %}

{% block title %}Text Dawg{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>
    More stuff goes here
    Now some goog stuff REIN and SMAC are pleased to bring REIN’s semi-annual forms changes, which are scheduled for
    release on January 2, 2024. Click here to access the full redlines and summary of the upcoming changes.

    On January 2, REIN will implement these form changes. Forms will be updated on the Contracts & Forms page on
    REINMLS.com and in Instanet. Please review any Instanet Templates to ensure the most current version of the form is
    being used
{% endblock %}
