{% extends "main/base.html" %}
{% load static %}
{% block extra_styles %}
<link href="{% static 'css/textbot.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Testing SMS{% endblock %}

{% block content %}
    <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<div class="login-container">
    <div class="container mt-4">
        <div id="chat-display">
            <!-- Messages will be appended here -->
        </div>
        <div class="chat-input">
            <input type="tel" id="phone-number" class="form-control mb-2" value="{{ phone_number }}" placeholder="Enter Phone Number">
            <textarea id="user-input" class="form-control mb-2" placeholder="Enter your message"></textarea>
            <button id="send-button" class="btn btn-primary">Send</button>
        </div>
    </div>
</div>
    <!-- Add this within your HTML body -->
<div id="commentModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h4>Add Your Comment</h4>
        <textarea id="userComment" class="user-comment-textarea" placeholder="Enter your comment here..."></textarea>
        <button id="submitComment" class="btn btn-primary">Submit Comment</button>
    </div>
</div>

<script src="{% static 'js/textbot.js' %}"></script>
{% endblock %}